.super-mario {
  width: 200px;
 position: relative; left: 100px;
position: relative;top: 10px;
}

.goomba {
  width: 100px;
  position: relative;top: 150px;
  position: relative;right: 50px;
}

.baloon {
position: relative;top: -220px;
position: relative;left: 320px;
}

.speach {
  font-size: 25px;
  position: relative; top: -100px;
  position: relative;left: 350px;
  z-index: 1;
}

.bowser {
  width: 200px;
  position: relative; top: 200px;
  position: relative;left: 250px;
}
  

  